    <!-- /.row -->
    <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <img class="card-img-top img-fluid" src="img/newsimg.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">News</h4>
              <p class="card-text">Up to date revelent tech news.</p>
            </div>
            <div class="card-footer">
              <a href="technews.html" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <img class="card-img-top img-fluid" src="img/portimg.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">My Portfolio</h4>
              <p class="card-text">A list of my completed portfolios.</p>
            </div>
            <div class="card-footer">
              <a href="portfolio.html" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <img class="card-img-top img-fluid" src="img/contimg.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Contact Me</h4>
              <p class="card-text">Please check below for contact information.</p>
            </div>
            <div class="card-footer">
              <a href="docs/contact.html" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
    <!-- /.container -->
  
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; JLB Productions 2020</p>
      </div>
      <!-- /.container -->
    </footer>
  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  </body>
  
  </html>